include ../mixins/event
include ../mixins/register-button
link(rel="stylesheet" href="/static/stylesheets/events.style.css")
link(rel="stylesheet" href="/static/stylesheets/marked.css")

div.module-event.section.open-event(id=event._id team=(event.teamSize > 1 ? "true" : "false"))
    div.header
        div.hero(style="background-image:url('#{event.hero}')")
    div.body
        div.top
            div.title= event.name
            div.remnant
                +cartActionsMixin(event, user, "Register", config)
        div.category= event.category
        div.details
            if(event.startTime)
                div.time
                    span Time
                    div
                        span.datetime
                            span #{event.startTime.split('|')[0]}
                            b #{event.startTime.split('|')[1]}
                        span -
                        span.datetime
                            span #{event.endTime.split('|')[0]}
                            b #{event.endTime.split('|')[1]}
            if(event.venue)
                div.venue
                    span Venue
                    span #{event.venue}
            - if(event.teamSize && event.teamSize != 1000)
                div.team
                    span Teams of
                    span #{event.teamSize}
            - else if (event.teamSize == 1000)
                div.team
                    span Team Size
                    span Unrestricted
            - if(event.price)
                div.money.price
                    span Entry Fee
                    i &#x20b9;
                    span #{event.price}
            - if(event.prize)
                div.money.prize.remnant
                    span Prize
                    i &#x20b9;
                    span #{event.prize}
        if(event.about)
            div.description.markdown-body !{marked(event.about)}
        div.foot
            a.download(title="Download as PDF" absolute target="_blank" href="/static/data/docs/#{event.name}.pdf") Download

script(src="/static/scripts/events.js" type="text/javascript")
