
h1 Schedule
div.section.events-schedule
	-var arr=events;
	-var index=0;
	-var temp;
	-while(index!=arr.length){
		-for(i=index;i<arr.length;i++){
			-if(arr[i].startTime<arr[index].startTime){
				-temp=arr[i];
				-arr[i]=arr[index];
				-arr[index]=temp;
			-}
		-}
		-index++;
	-}
	each event in arr
		if(event.startTime)
			div
				span #{event.name}  -  
				span #{event.startTime} - #{event.endTime}
				br
