link(href="/static/stylesheets/dashboard.style.css" rel="stylesheet")
div.section.header
	h1.title Overview
div.section.body
	div.left
		img.imgUser(src=user.profileImage)
		div.details
			- if (typeof user.name !== "undefined") {
			span.user.name.
				#{user.name}
			- }
			- if (typeof user.email !== "undefined") {
			span.user.email
				i.icon-mail_outline
				span.
					#{user.email}
			- }
			- if (typeof user.institute !== "undefined") {
			span.user.institute
				i.icon-account_balance
				span.
					#{user.institute}
			- }
	div.separate
	div.right
		img.imgQR(src="#{user.qrData}")
		div.ca
			if user.isAmbassador
				div.ambassador
					i.icon-verified_user
					span Campus Ambassador
			else
				div.button(_route="/ca") Become a Campus Ambassador
