include ../mixins/eventList

link(href="/static/stylesheets/cart.style.css" rel="stylesheet")
link(href="/static/stylesheets/dashboard.style.css" rel="stylesheet")
div.section.header
	h1.title Overview
div.section.body
	div
		img.imgUser(src=user.profileImage)
		div.details
			- if (typeof user.name !== "undefined") {
			span.user.name.
				#{user.name}
			- }
			- if (typeof user.email !== "undefined") {
			span.user.email
				i.icon-mail_outline
				span.
					#{user.email}
			- }
			- if (typeof user.institute !== "undefined") {
			span.user.institute
				i.icon-account_balance
				span.
					#{user.institute}
			- }
	div.separator
	div
		img.imgQR(src="#{user.qrData}")
		div.ca
			if user.isAmbassador
				div.ambassador
					i.icon-verified_user
					span Campus Ambassador
			else
				div.button(_route="/ca") Become a Campus Ambassador
	div.events
		div.event-list(title="Registered")
			+eventList(subscribed, user, false)
		div.event-list(title="In cart")
			+eventList(pending, user, true)
script(src="/static/scripts/cart.js" type="text/javascript")