include ../mixins/eventList

link(href="/static/stylesheets/cart.style.css" rel="stylesheet")
link(href="/static/stylesheets/dashboard.style.css" rel="stylesheet")
div.section.header
	h1.title Overview
div.section.body
	div
		img.imgUser(src=user.profileImage)
		div.details
			- if (typeof user.name !== "undefined") {
			span.user.name.
				#{user.name}
			- }
			- if (typeof user.email !== "undefined") {
			span.user.email
				i.icon-mail_outline
				span.
					#{user.email}
			- }
			- if (typeof user.institute !== "undefined") {
			span.user.institute
				i.icon-account_balance
				span.
					#{user.institute}
			- }
	div.separator
	div.qr
		img.imgQR(src="#{user.qrData}")
		div.ca
			if(user.isAmbassador)
				.disabled.button
					i.icon-verified_user
					span &nbsp;Campus Ambassador
			else
				a.button(href="/ca") Register for Campus Ambassador
	div.events
		if (subscribed.length || pending.length)
			if subscribed.length
				div.event-list(data-title="Free Events")
					+eventList(subscribed, user, false)
			if pending.length
				div.event-list.pending(data-title="Paid Events")
					+eventList(pending, user, true)
		else
			div.event-list(data-title="Registered Events")
				span(style="margin-left: 1em;") You have not registered for anything. Go to the events section to register.
script(src="/static/scripts/cart.js" type="text/javascript")
