doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name='Title', content='ATMOS, Technical Fest of Bits Pilani Hyderabad Campus')
		meta(name='Keywords', content='Atmos, bphc, bits, technical')
		meta(name='Description', content='ATMOS is the annual techno-management fest of Birla Institute of Technology and Science, Pilani – Hyderabad Campus. Right from its inception in 2012, it ...')
		meta(name='Language', content='English')
		meta(name='Robots', content='INDEX,FOLLOW')
		link(href="/static/manifest.json" rel="manifest")
		link(href="/static/images/favicon.png" rel="icon")
		link(href="/static/stylesheets/sweetalert.css" rel="stylesheet")
		link(href="/static/stylesheets/github-markdown.css" rel="stylesheet")
		link(href="/static/lib/simplebar.css" rel="stylesheet")
		link(href="/static/stylesheets/index.style.css" rel="stylesheet")
		title Atmos
		meta(name="robots" content="index, follow")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(property="og:type" content="website")
		meta(property="og:site_name" content="ATMOS, Bits Pilani Hyderabad Campus")
		meta(property="og:title" content="ATMOS, BITS Pilani Hyderabad Campus")
		meta(property="og:url" content="https://bits-atmos.org/")
		meta(property="og:image" content="https://bits-atmos.org/static/images/meta.png")
		meta(name="twitter:title" content="ATMOS, Bits Pilani Hyderabad Campus")
		meta(name="twitter:image" content="https://bits-atmos.org/static/images/meta.jpg")
		meta(name="twitter:card" content="ATMOS, Bits Pilani Hyderabad Campus")
		meta(name="twitter:site" content="@BITSAtmos")
body
	div.window.fullsize.loading(route= route _triggers="isImmersive=immersive")
		div.navbar(_triggers="navbar/visible=visible")
			div.wrapper
				div#menu.button(tabindex=1)
					i.icon-menu
				a.logo(href="/")
					img(src="/static/images/logo.png")
				span.subtitle.hidden
					i.icon-navigate_next
					span.text
				div.controls
					div.button.user(_triggers="navbar/avatar=visible" tabindex=0)
						if user
							img(src=user.profileImage)
							div.dropdown
								div.header
									div.details(_route="/dashboard")
										- if (typeof user.name !== "undefined") {
										span.username.
											#{user.name}
										- }
										- if (typeof user.email !== "undefined") {
										span.useremail.
											#{user.email}
										- }
									div.button.logout(_route="/dashboard/account")
											i.edit_mode
								div.drawer
									div.scrollable
										li.notification
											i.icon-check
											div.details
												span.title Your invitation was accepted
												span.message Send more invitations
												span.date 12/10/17 22:22
										li.notification
											i.icon-mail_outline
											div.details
												span.title Algomaniac has new updates
												span.message You have registered for Algomaniac
												span.date 01/10/17 02:00
										li.notification
											i.icon-mail_outline
											div.details
												span.title Codejam results are out
												span.message You have qualified for the next round
												span.date 10/10/17 04:50
										li.notification
											i.icon-mail_outline
											div.details
												span.title New message
												span.date 12/12/12 22:22
										li.notification
											i.icon-brightness_low
											div.details
												span.title Slumber Party is about to start
												span.message Watch Hugo in F102
												span.date 02/10/12 09:20
					a.button(href="/logout" _triggers="navbar/logout=visible")
						i.icon-power_settings_new
						div Logout
					a.button(href="/login" _triggers="navbar/login=visible")
						i.icon-account_circle
						div Register / Login
		div.remnant
			div.sidebar(tabindex="2" _triggers="sidebar/visible=visible")
				div.wrapper
					div.section.primary
						a.label MAIN
						ul
							each val, key in navigation
								a(class=val.initial href=val.route _triggers=val.triggers)
									i
									span= val.label
					div.secondary-wrapper
						div.section.secondary
							a.label
							ul
			div.remnant.main(tabindex="1")
				div.wrapper.face
				div.wrapper.tray
		div.hidden
			video#video-stream(loop muted src="/static/buildings/input/main.mp4" preload="none")
			audio#audio-stream(src="/static/buildings/input/main.mp3" preload="none")
		script(type="application/ld+json" src="/static/scripts/schema.json")
		script(type="text/javascript" src="/static/lib/jquery.min.js")
		script(type="text/javascript" src="/static/lib/deep-diff-0.3.8.min.js")
		script(src="/static/lib/sweetalert.min.js" type="text/javascript")
		script(src="/static/lib/simplebar.js" type="text/javascript")
		script(type="text/javascript" src="/static/scripts/index.js")
		script(type="text/javascript").
			$('[href="/events#Workshop"]').addClass('indent');
