include ../mixins/form

link(rel="stylesheet" href="/static/lib/jquery-ui-custom/jquery-ui.min.css")
link(rel="stylesheet" href="/static/stylesheets/administration.style.css")
div#_portal
    div.section.header
        h1.title User Administration
        div.stretch
            div.remnant
                ul.controls
                    li.disabled.icon-check#submit-button(title="Save")
                    li.disabled.icon-close#reset-button(title="Reset")
            +fieldMixin({type: 'text', editable: true, name: 'key', typeahead: 'email', placeholder: 'E-mail'})
    div.section.body
        input.hidden#details-control(name="accordion" type="radio" tabindex="-1")
        div.foldup#details(tabindex="1")
            - var form = {fields: fields, method: 'POST', url: '/api/users/force'}
            +formMixin(form)
        input.hidden#tickets-control(name="accordion" type="radio" tabindex="-1")
        div.foldup#tickets(tabindex="1")
            div.list
                each event in events
                    input.hidden(type="checkbox" id=event.id)
                    label.event(for=event.id)
                        span.name= event.name
                        div.footer
                            span.count= event.people
                            span.price= event.price

script(src="/static/lib/jquery-ui-custom/jquery-ui.min.js")
script(src="/static/scripts/administration.js" type="text/javascript")