include ../mixins/field

link(href="/static/stylesheets/portals.style.css" rel="stylesheet")
i.meta(_routed_at="/portals")
div#_event
    div.section.header
        h1.title= title
        div.stretch
            div.remnant
                ul.controls
                    li.icon-autorenew(onclick="manager.refresh()")
                    li.icon-delete.disabled
                    li.icon-arrow_downward(onclick="download('#{event.route}')")
            - var search = {icon: 'search', placeholder: 'Search', editable: true};
            +fieldMixin(search)
    div.section.body
        h3.title Registered Teams
        for team in teams
            div.team
                for user in team.members
                    div.user
                        div.hidden.team
                            span= team.id
                        div.name(title=user.name)
                            i.icon-account_circle
                            span= user.name
                        div.email(title=user.email)
                            i.icon-mail_outline
                            span= user.email
                        div.institute(title=user.institute)
                            i.icon-account_balance
                            span= user.institute
                        div.phone(title=user.phone)
                            i.icon-phone
                            span= user.phone
    if !teams
        span.underwhelmingMessage Nothing to see here. Add new records.
script.
    function download(filename) {
        var lines = [];
        lines.push("team|name|institute|email|phone");
        $('.team > .user').each(function(i, item) {
            var text = "";
            ['team','name','institute','email','phone'].forEach(function(key) {
                text += $(item).find('.'+key).text().replace(/,/g, " ");
                text += '|';
            });
            lines.push(text);
        });
        var dummy = $('<a/>');
        dummy.attr('href','data:text/plain;charset=utf-8,'+encodeURIComponent(lines.join('\n')));
        dummy.attr('download', filename + '.csv');
        dummy[0].click();
    }
