include ../mixins/form

link(rel="stylesheet" href="/static/stylesheets/tickets.style.css")
div#_portal
    div.section.header
        h1.title Tickets
        div.stretch
            div.remnant
                ul.controls
                    li.disabled.icon-check#submit-button(title="Save")
                    li.disabled.icon-close#reset-button(title="Reset")
            +fieldMixin({type: 'text', editable: true, name: 'key', placeholder: 'Fest ID'})
    div.section.body
        h2#greet
        br
        div.foldup#tickets(tabindex="1")
            div.list.disabled
                each event in events
                    input.hidden(type="checkbox" id=event._id)
                    label.item(for=event._id)
                        span.name= event.name
                        div.footer
                            span.count= event.people
                            span.price= event.price
        div#remarks
            input(type="text" name="remarks" placeholder="Enter remarks")
script(src="/static/scripts/tickets.js" type="text/javascript")