mixin eventMixin(data)
	div.event-container(class="#{data.category}" _route="/events/#{data.route}")
		div.face
			span.tag= data.type
			h3.name= data.name
			span.tagline= data.tagline
		div.image(style="background-image:url('#{data.thumbnail}')")
		div.details
