include datalist
include img-upload

mixin fieldMixin(data)
	div.field-container
		if data.label
			label= data.label
		div.remnant
			div.field-icon
				span(class="icon-#{data.icon}")
			if data.editable
				if data.qrcode
					script(src="/static/scripts/scan.js" type="text/javascript")
					span(id="field-#{data.name}")= data.value
					button(type="button" onclick="Scanner.launch($('#field-#{data.name}').get(0))") Open Scanner
				else if data.typeahead
					script(src="/static/scripts/typeahead.js" type="text/javascript")
					input(id="field-#{data.name}" type=data.type placeholder=data.placeholder required=data.required value=data.value onkeyup="Typeahead.search(this, '#{data.typeahead}');")
				else if data.type == "select"
					select(id="field-#{data.name}" type=data.type placeholder=data.placeholder required=data.required value=data.value)
						each option in data.options
							option(value=option)= option
				else if data.type == "textarea"
					textarea(id="field-#{data.name}" type=data.type placeholder=data.placeholder required=data.required value=data.value rows=data.rows)
				else if data.type == "image"
					+imgUpload({id: data.id, width: data.width, height: data.height, file_name: "testabcd", name: data.name})
				else
					input(id="field-#{data.name}" type=data.type placeholder=data.placeholder required=data.required value=data.value)
			else
				span(id="field-#{data.name}")= data.value
