include datalist
include img-upload

mixin fieldMixin(data)
	div.field-container
		if data.label
			label= data.label
		div.remnant
			div.field-icon
				span(class="icon-#{data.icon}")
			if data.editable
				if data.typeahead
					input(id="field-#{data.name}" name=data.name type=data.type placeholder=data.placeholder required=data.required list="list-#{data.name}" value=data.value)
					+datalistMixin(data)
				else if data.type == "select"
					select(id="field-#{data.name}" type=data.type placeholder=data.placeholder required=data.required value=data.value)
						each option in data.options
							option(value=option)= option
				else if data.type == "textarea"
					textarea(id="field-#{data.name}" type=data.type placeholder=data.placeholder required=data.required value=data.value rows=data.rows)
				else if data.type == "image"
					+imgUpload({id: data.id, width: data.width, height: data.height, file_name: "testabcd", name: data.name})
				else
					input(id="field-#{data.name}" type=data.type placeholder=data.placeholder required=data.required value=data.value)
			else
				span(id="field-#{data.name}")= data.value
