include datalist
mixin fieldMixin(data)
	div.field-container
		div.icon
			span(class="icon-#{data.icon}")
		div.remnant
			label(for="field-#{data.name}")= data.label
			if data.editable
				if data.typeahead
					input(id="field-#{data.name}" name=data.name type=data.type placeholder=data.placeholder required=data.required list="list-#{data.name}" value=data.value)
					+datalistMixin(data)
				else
					input(id="field-#{data.name}" type=data.type placeholder=data.placeholder required=data.required value=data.value)
			else
				span= data.value
