mixin imgUpload(data)
	div.image
		div(id="image-editor-#{data.id}" class="image-editor")
			input(type="file" required=data.required id="field-#{data.name}" name="field-#{data.name}" class="cropit-image-input")
			div(class="cropit-preview", id="cropit-preview-#{data.id}")
			div.status
				i.icon-check.response(id="export-img-#{data.id}")
		label(for="field-#{data.name}" id="label-#{data.name}")
			i.icon-add_a_photo
	script.
		imgCropInit({
		input: "field-#{data.name}",
		preview: "cropit-preview-#{data.id}",
		label: "label-#{data.name}",
		id: #{data.id},
		width: #{data.width},
		height: #{data.height}
		});
