mixin imgUpload(data)
	link(rel='stylesheet', href='/stylesheets/imgCrop.css')
	script(src="/scripts/imageCrop.js")

	div(id="image-editor-#{data.id}" class="image-editor")
		input(type="file", class="cropit-image-input")
		div(class="cropit-preview", id="cropit-preview-#{data.id}")
		div.image-size-label Resize
		input(type="range", class="cropit-image-zoom-input")
		button(id="rotate-ccw-#{data.id}") Rotate CCW
		button(id="rotate-cw-#{data.id}") Rotate CW
		button(id="export-img-#{data.id}", class="export") Upload
		div(id="imgCrop-response-#{data.id}")

	script(src="/scripts/imageCropMixin.js")
	script.
		imgCropInit({
		id: #{data.id},
		width: #{data.width},
		height: #{data.height},
		file_name: "#{data.file_name}"
		});
