
mixin cartActionsMixin(event, user, text)
    script(src="/static/scripts/register-button.js")
    link(href="/static/stylesheets/register-button.css" rel="stylesheet")
    div.cart-actions
        - if(config.state.registrations)
            - if(typeof user !== 'undefined')
                - if(user.events.indexOf(event._id) != -1 || user.pending.indexOf(event._id) != -1)
                    if(event.price==0)
                        a.subscribed.button
                            i.icon-check
                            span Registered
                    else
                        a.pending.button(href='#{config.strings.registrationLink}')
                            i.icon-ticket
                            span Buy Tickets
                - else if(event.teamSize > 1)
                    a.latent(tabindex="1")
                        a.add_to_cart.button
                            i.icon-add_shopping_cart
                            span Register
                        a.new_team.button(onclick="RegisterButton.add(this, '#{event._id}'), #{event.price ? false : true}")
                            i.icon-add_box
                            span New Team
                        a.join_team.button(onclick="RegisterButton.join(this, '#{event._id}', #{event.price ? false : true})")
                            i.icon-group_add
                            span Join Team
                - else
                    if event.tickets
                        a.add_to_cart.button(href=event.tickets)
                            i.icon-add_shopping_cart
                            span Register
                    else
                        a.add_to_cart.button(onclick="RegisterButton.add(this, '#{event._id}', #{event.price ? false : true})")
                            i.icon-add_shopping_cart
                            span Register
            - else
                a.add_to_cart.button(href="/login?callback=/events/#{event.route}")
                    i.icon-add_shopping_cart
                    span Register
        - else
            a.add_to_cart.button.disabled
                span Registrations are closed
