mixin contact(name, post, phone, fb, email, linkedin)
	div
		img.photo(id="thumb-" + name.replace(" ","") src="/static/images/team/#{name}.jpg")
	li(onmouseover="show(this)" onmouseout="release(this)" data-filename=name)
		span.post= post
		span.name= name
		span.phone= phone
		span.others
			a.icon-envelope(href="mailto:#{email}@hyderabad.bits-pilani.ac.in" title="#{email}@hyderabad.bits-pilani.ac.in")
			a.icon-facebook(href="https://facebook.com/#{fb}" title=fb)
			//- a.icon-linkedin-square(href="https://linkedin.com/in/#{linkedin}")
link(rel="stylesheet" href="/static/stylesheets/contact.style.css")

div.section.body
	ul.contacts
		div(style="position:absolute;")
			img.photo.default(src="/static/images/team/clouds.png")
		+contact("Abhinav Eittireddy", "President", "9542929354", "abhinav.eittireddy", "president")
		+contact("Sharath Golluri", "Technical Secretary", "9100879085", "sharath.golluri", "tc")
		+contact("Aditya Iyer", "General Secretary", "9705932532", "iyermanalways", "gensec")
		+contact("Nitish Amireddy", "Sponsorship & Marketing", "7893007437", "nitishreddy.amireddy", "dosm")
		+contact("Sugam Gandhi", "Publicity & Public Relations", "9133234318", "winni.gandhi", "depp")
		+contact("Venkata Subbaiah", "Logistics", "9676401052", "venkatasubbaiahmachunuru", "controlz")
		+contact("Rishabh Agrawal", "Security & Hospitality", "9133234434", "arishabh.317", "dosh")
		+contact("Ishaan Dewangan", "Photography", "9010716338", "ishaan.dewangan.9", "dopy")
		+contact("Sarthak Jain", "Lights & Sounds", "9133312961", "jainsarthak3")
		+contact("Vishwaa Narayan", "Professional Events", "9704531332", "vishwaa.narayanan6")
		+contact("Sahil Sangwan", "Talks & Guest Lectures", "9177067275", "sangwan.sahil", "embryo")
		+contact("Thrinadh Kumpatla", "Visual Effects", "9100589626", "thrinadh.kumpatla", "dove")
script.
	function show(contact) {
		$(contact).removeClass('fade').addClass('active').siblings("li").addClass('fade');
		$("#thumb-" + $(contact).data('filename').replace(" ", "")).addClass('active').siblings("img").removeClass("active");
	}
	function release(contact) {
		$(contact).removeClass('active').siblings().removeClass('fade');
		$('.section.body .contacts img').removeClass('active');
	}
