mixin contact(name, post, phone)
	li(onmouseover="show(this)" onmouseout="release(this)" data-filename=name)
		span.post= post
		span.name= name
		span.phone= phone
	img.photo(id="thumb-" + name.replace(" ","") src="/static/images/team/#{name}.jpg")
link(rel="stylesheet" href="/static/stylesheets/contact.style.css")

div.section.body
	ul.contacts
		img.photo.default(src="/static/images/team/clouds.png")
		+contact("Abhinav Eittireddy", "President", "9133234837")
		+contact("Sharath Golluri", "Technical Secretary", "9133234837")
		+contact("Aditya Iyer", "General Secretary", "9133234837")
		+contact("Nitish Amireddy", "Sponsorship & Marketing", "9133234837")
		+contact("Sugam Gandhi", "Publicity & Public Relations", "9133234837")
		+contact("Venkata Subbaiah", "Logistics", "9133234837")
		+contact("Rishabh Agrawal", "Security & Hospitality", "9133234837")
		+contact("Ishaan Dewangan", "Photography", "9133234837")
		+contact("Sarthak Jain", "Lights & Sounds", "9133234837")
		+contact("Vishwaa Narayan", "Professional Events", "9133234837")
		+contact("Sahil Sangwan", "Talks & Guest Lectures", "9133234837")
		+contact("Thrinadh Kumpatla", "Visual Effects", "9133234837")
script.
	function show(contact) {
		$(contact).removeClass('fade').addClass('active').siblings("li").addClass('fade');
		$("#thumb-" + $(contact).data('filename').replace(" ", "")).addClass('active').siblings("img").removeClass("active");
	}
	function release(contact) {
		$(contact).removeClass('active').siblings().removeClass('fade');
		$('.section.body .contacts img').removeClass('active');
	}
